<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.kimmking.dubbo.demo.rmbprovider.mapper.RmbAccountMapper">

    <select id="selectByUserid" resultType="io.kimmking.dubbo.demo.rmbprovider.entity.RmbAccount">
        select * from rmb_account where user_id = #{userid}
    </select>

    <update id="subPriceById">
        update rmb_account set price = price-#{price} where id = #{id} and price >= #{price}
    </update>

    <update id="updatePriceInt">
        update rmb_account set price = price+#{price} where user_id = #{userid}
    </update>

</mapper>